<!DOCTYPE html>
<html>
   <head>
      <title>Request Header Parser Microservice</title>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="shortcut icon" href="https://www.clker.com/cliparts/u/g/F/R/X/9/green-circle-md.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>
   <body>
    <div class="full-page-container">
      <header>
        <h1>API Project: Request Header Parser Microservice</h1>
      </header>
      <div class="container">
        <div class="example-use-container">
          <h3>Example Usage:</h3>
          <ul class="examples-lst">
            <li><a href="api/whoami">[base url]/api/whoami</a></li>
          </ul>
        </div>
        <div class="example-output-container">
          <h3>Example Output:</h3>
          <p>
            <code>{"ipaddress":"159.20.14.100","language":"en-US,en;q=0.5",
              <br>
              "software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code>
          </p>
        </div>
        <div class="try-container">
          <h2>Try it yourself</h2>
          <button class="api_send_btn" onclick="requestAPI()">Send Request!</button>
          <div class="output-box">
            <p id="output-title"></p>
            <p>
              <code id="output-code"></code>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="app/app.js">
  </script>
</html>
